[Unit]
Description=Gunicorn instance to serve the UPS Dashboard
After=network.target

[Service]
User=damurphy
Group=www-data
WorkingDirectory=/config/workspace/ups_project
ExecStart=/home/damurphy/ups_env/bin/gunicorn --workers 3 --bind unix:ups_dashboard.sock -m 007 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
